@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

body {
  font-family: "Roboto Condensed";
  line-height: 1.4;
  background-color: #A9E2F3;
  width: 500px;
  margin: auto;
}

form {
  background-color: #CEF6F5;
  padding: 2.5rem 2.5rem;
  border-radius: 4rem;
  width: 500px;
  margin: auto;
}

.submit-button {
  width: 20%;
  padding: 0.75rem;
  background-color: #df0169;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}

.input-headings {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-inputs {
  display: block;
  width: 90%;
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid #A9E2F3;
  border-radius: 0.25rem;
}